/* --- Page Layout --- */
.experience-content {
  max-width: 55rem;
  margin: 0 auto;
  padding: 4rem 1rem 6rem;
}

/* --- Section Styling --- */
.section {
  margin-bottom: 5rem;
}

.experience-header {
  border-bottom: 2px solid var(--light-gray);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.dark .experience-header {
  border-bottom-color: var(--dark-gray);
}


/* --- The List of Roles --- */
.experience-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}