.home-container {
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  padding: 2rem 1rem;
  row-gap: 1.5rem;
}

/* Base Typography Colors */
.home-intro {
  font-family: var(--font-subheading);
  font-weight: 400;
  color: var(--primary-purple);
  font-size: 0.9rem;
}

.home-name {
  font-family: var(--font-heading);
  font-weight: 600;
  color: var(--primary-gray);
  font-size: clamp(2.5rem, 10vw, 5rem);
  text-transform: capitalize;
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.home-role {
  font-size: 1.2rem;
  font-family: var(--font-subheading);
  font-weight: 600;
  color: var(--primary-purple);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.home-description {
  color: var(--primary-gray);
  line-height: 1.7;
  font-size: 0.9rem;
  margin: 1.5rem 0;
}

/* Dark Mode Overrides */
.dark .home-intro {
  color: var(--primary-purple)
}

.dark .home-name {
  color: var(--highlight-silver);
  opacity: 0.8;
}

.dark .home-description {
  color: var(--light-text);
  opacity: 0.65;
}

/* Combined Media Queries for Layout & Sizing */
@media (min-width: 640px) {
  .home-content {
    row-gap: 1rem;
  }

  .home-intro {
    font-size: 1rem;
  }

  .home-name {
    font-size: 4rem;
    margin: 0.8rem 0 0;
  }

  .home-role{
    font-size: 1.5rem;
  }

  .home-description {
    font-family: var(--font-body);
    margin: 2rem 0;
    max-width: 28rem;
    text-align: left;
  }

  .button-container {
    width: 28rem;
  }

  .secondary-button {
    margin-left: 0.75rem;
  }
}

@media (min-width: 768px) {
  .home-content {
    row-gap: 0.7rem;
  }

  .home-name {
    font-size: 4.5rem;
  }

  .home-role{
    font-size: 1.8rem;
  }

  .home-description {
    font-size: 1rem;
    max-width: 35rem;
  }
}

@media (min-width: 1024px) {
  .home-intro{
    font-size: 1.2rem;
  }
  .home-content {
    row-gap: 0.5rem;
  }

  .home-name {
    font-size: 5rem;
    margin: 1rem 0 0.7rem;
  }

  .home-role{
    font-size: 2rem;
  }

  .home-description {
    max-width: 42rem;
  }

  .cta {
    font-size: 1rem;
  }
}

/* Buttons */
.button-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
