.home-container {
  height: calc(100vh - 6rem);
  display: flex;
  align-items: center;
  background-color: var(--primary-white)
}

.dark .home-container {
  background-color: var(--primary-black);
}

.home-content {
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem 1rem;
}

@media (min-width: 640px) {
  .home-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .home-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.home-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.025em;
  color: var(--dark-text);
}

.dark .home-title {
  color: var(--light-gray);
}

@media (min-width: 640px) {
  .home-title {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 768px) {
  .home-title {
    font-size: 3.75rem;
    line-height: 1;
  }
}

.home-intro {
  font-family: var(--font-subheading);
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 400;
  color: var(--dark-text);
}

.dark .home-intro {
  color: var(--light-purple);
}

.home-name {
  font-family: var(--font-heading);
  font-weight: 600;

  color: var(--primary-purple);
  font-size: 2.6rem;
  margin: 1rem 0 0;
  text-transform: lowercase;
}

.home-role {
  font-family: var(--font-heading);
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--dark-text);
  text-transform: uppercase;
  transform: scale(1, 1.1);
  letter-spacing: 1px;
}

.dark .home-role {
  color: var(--light-purple);

}

.dark .home-name {
  color: #e0e7ffdd;
}

.home-description {
  display: none;
}

.dark .home-description {
  color: var(--light-text);
}

@media (min-width: 640px) {
  .home-name {
    font-size: 4rem;
    margin: 0.8rem 0 0.6rem
  }

  .home-role {
    font-size: 1rem;
    font-weight: 300;
    transform: scale(1, 1.1);
    letter-spacing: 2px;
  }

  .home-description {
    display: block;
    font-family: var(--font-body);
    font-weight: 200;
    margin-top: 0.75rem;
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {

  .home-name {
    font-size: 5rem;
    margin: 1rem 0 0.7rem
  }

  .home-description {
    margin-top: 1.25rem;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
    max-width: 42rem;
  }

}

.button-container {
  margin-top: 1.25rem;
  width: 14rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 640px) {
  .button-container {
    display: flex;
    width: 28rem;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .button-container {
    margin-top: 2rem;
  }
}

.primary-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 2rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-gray);
  background-color: var(--primary-purple);
  transition: background-color 0.2s;
}

.primary-button:hover {
  background-color: var(--dark-purple)
}

.dark .primary-button {
  background-color: var(--primary-purple);
}

.dark .primary-button:hover {
  background-color: var(--light-purple);
}

.secondary-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 2rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-gray);
  background-color: var(--primary-gray);
  transition: background-color 0.2s;
  margin-top: 0.75rem;
}

@media (min-width: 640px) {
  .secondary-button {
    margin-top: 0;
    margin-left: 0.75rem;
  }
}

.secondary-button:hover {
  background-color: var(--dark-gray);
}

.social-links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-link {
  color: #6b7280;
  transition: color 0.2s;
}

.social-link:hover {
  color: #4b5563;
}

.dark .social-link {
  color: var(--light-text);
}

.dark .social-link:hover {
  color: var(--light-purple);
}