.navbar {
  position: fixed;
  width: 100%;
  z-index: 50;
  background-color: var(--primary-white);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid var(--light-gray)
}

.dark .navbar {
  background-color: var(--primary-black);
  border-bottom-color: var(--dark-gray)
}

.navbar-container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 640px) {
  .navbar-container {
    padding: 0 1.5rem;
  }
}

@media (min-width: 1024px) {
  .navbar-container {
    padding: 0 2rem;
  }
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.navbar-logo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.home-link {
  color: var(--primary-purple);
  transition: color 0.2s;
}

.dark .home-link {
  color: var(--primary-purple)
}

.home-link:hover {
  color: var(--dark-purple);
}

.dark .home-link:hover {
  color: var(--light-purple);

}

.home-icon {
  height: 2rem;
  width: 2rem;
}

.desktop-menu {
  display: none;
}

@media (min-width: 640px) {
  .desktop-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.nav-link {
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.2s;
  color: var(--primary-gray);
}

.dark .nav-link {
  color: var(--light-gray);
}

.nav-link:hover {
  background-color: var(--light-gray);
}

.dark .nav-link:hover {
  background-color: var(--primary-gray);
}

.nav-link.active {
  background-color: var(--light-gray-purple);
  color: var(--dark-purple);
}

.dark .nav-link.active {
  background-color: var(--dark-gray-purple);
  color: var(--primary-white);
}

.theme-toggle {
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.theme-toggle:hover {
  background-color: var(--light-gray);
}

.dark .theme-toggle:hover {
  background-color: var(--primary-gray)
}

.theme-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.mobile-menu-button {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.375rem;
}

@media (min-width: 640px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  top: 4rem;
  right: 0;
  left: 0;
  padding: 0.5rem 1rem;
  background-color: var(--primary-white);
  border-bottom: 1px solid var(--light-gray);
}

.dark .mobile-menu {
  background-color: #111827;
  border-bottom-color: #1f2937;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
