
.projects-content {
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem 0rem;
}
.skills-section{
  display: none;
}

.projects-section {
  margin-bottom: 3rem;
}

.skills-container {
  display: none;
}

@media (min-width: 640px) {
  .skills-section{
    display: block;
  }
  .skills-container{
      display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
  }
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.projects-grid {
  margin-top: 3rem;
  display: grid;
  gap: 2rem;
}

@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }


  .projects-content{
      padding:3rem 1.5rem;
  }
}
