/* Tailwind directives */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Root Variables */
:root {
  /* Main Theme */
  --primary-black: #111827;
  --primary-white: #F0F0FE;

  /* The New Purple Palette */
  --primary-purple: #6F6AC3;
  --dark-purple: #292244;
  --light-purple: #806EBD;

  /* Highlight Variable */
  --highlight-silver: #CCD6F6;
  /* Added for high-priority dark mode text */

  /* Grays & Surfaces */
  --primary-gray: #374151;
  --dark-gray: #1f2937;
  --light-gray: #D3D3E8;

  /* Specialized Backgrounds */
  --light-gray-purple: #DADFFD;
  --dark-gray-purple: #292244;

  /* Text */
  --dark-text: #847489;
  --light-text: #D3D3E8;

  /* Typography */
  --font-heading: 'Geologica', -apple-system, BlinkMacSystemFont, sans-serif;
  --font-subheading: 'Inconsolata', monospace, sans-serif;
  --font-body: 'Geologica', -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  font-family: var(--font-body);
  font-weight: 200;
  font-size: 0.9rem;
}

/* Layout and Base Styles */
.app-container {
  min-height: 100vh;
  transition: background-color 0.2s, color 0.2s;
}

.main-content {
  padding-top: 6rem;
  /* Equivalent to pt-16 (16 * 0.25rem) */
}

/* Light Mode (Default) */
.app-container {
  background-color: var(--primary-white);
  color: #111827;
}

/* Dark Mode */
/* This assumes your ThemeProvider adds a 'dark' class to the <html> or <body> tag */
.dark .app-container {
  background-color: var(--primary-black);
  color: var(--light-text);
}

h2{
  font-family: var(--font-subheading);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark-text);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3{
  font-family: var(--font-heading);
 font-size: 1.15rem;
  font-weight: 400;
  color: var(--dark-purple);
  margin-bottom: 0.75rem;
  letter-spacing: -0.3px;
}

.dark h2, .dark h3{
  color: var(--highlight-silver);
}

a {
  font-family: var(--font-subheading);
  font-size: 0.8rem;
  font-weight: 600;
}