/* Tailwind directives */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Root Variables */
:root {
    /* Colors */
    --primary-black: #111827;
    --primary-white:#F0F0FE;
    --primary-purple: #816FBB;
    --dark-purple: #4338ca;
    --light-purple: #818cf8;

    --primary-gray: #374151;
    --dark-gray: #1f2937;
    --light-gray: #e5e7eb;

    --light-gray-purple: #e0e7ff;
    --dark-gray-purple: #312e81;

    --dark-text: #4b5563;
    --light-text: #9ca3af;



    /* Typography */
    --font-heading: 'Geologica', -apple-system, BlinkMacSystemFont, sans-serif;
    --font-subheading: 'Inconsolata', monospace, sans-serif;
    --font-body: 'Geologica', -apple-system, BlinkMacSystemFont, 'sans-serif'
}

body{
    font-family: var(--font-body);
    font-weight: 200;
    font-size: 0.9rem;
}

/* Layout and Base Styles */
.app-container {
  min-height: 100vh;
  transition: background-color 0.2s, color 0.2s;
}

.main-content {
  padding-top: 6rem; /* Equivalent to pt-16 (16 * 0.25rem) */
}

/* Light Mode (Default) */
.app-container {
  background-color: var(--primary-white);
  color: #111827;
}

/* Dark Mode */
/* This assumes your ThemeProvider adds a 'dark' class to the <html> or <body> tag */
.dark .app-container {
  background-color: var(--primary-black);
  color: var(--light-text);
}

h2, h3, a {
    font-family: var(--font-subheading);
}

a{
    font-size: 1rem;
}